<!DOCTYPE html>
html(lang="en")
block head
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Thomas Baroody - Developer
    block styles
      link(href="css/main.css", rel="stylesheet")
body
  .container
    block content
  block scripts